<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>e-Biblioteca</title>
</head>

<body>
	<h1>Cadastro de livros</h1>
	<form method=post>
		Título: <input type="text" value="" name="titulo"/><br/>
		ISBN: <input type="text" value="" name="isbn"/><br/>
		Autor <input type="text" value="" name="autor"/><br/>
		Edicao: <input type="text" value="" name="edicao"/><br/>
		Editora: <input type="text" value="" name="editora"/><br/>
		Ano de Publicacao <input type="text" value="" name="anoPublicacao"/><br/>
		<button type="submit">Cadastrar livro</button>
	</form>
</body>

</html>
