<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>e-Biblioteca</title>
</head>

<body>
	<h1>Alterar dados do aluno</h1>
	<form th:object="${aluno}" th:action="@{/aluno/atualizar/{codigo}(codigo=${aluno.codigo})}" method=post>
		Matrícula: <input type="text" th:field="${aluno.matricula}" name="matricula"/><br/>
		Nome: <input type="text" th:field="${aluno.nome}" name="nome"/><br/>
		<button type="submit">Salvas alterações</button><br>
		<a href="/">Menu inicial</a>
	</form>
</body>

</html>
